.jshop h1 {
    margin-top: 0px;
    font-size: 16px;
}

table.jshop {
    border-collapse: collapse;
    border: 0px;
    width: 100%;
}

table.jshop td {
    vertical-align: top;
}

#jshop_menu_order {
    margin-bottom: 10px;
    border: 1px solid #ccc;
    background-color: #f5f5f5;
}

td.jshop_order_step {
    padding: 2px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    vertical-align: middle;
}

.jshop_order_step a {
    vertical-align: top;
    text-decoration: underline;
    font-size: 12px;
}

.table_order_list {
    background-color: #F5F5F5;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 5px;
}

.table_order_list .buttons {
    text-align: center;
    padding-top: 10px;
}

.row-fluid {
    width: 100%;
    *zoom: 1;
}

.row-fluid:before,
.row-fluid:after {
    display: table;
    content: "";
    line-height: 0;
}

.row-fluid:after {
    clear: both;
}

.row-fluid [class*="sblock"] {
    display: block;
    width: 100%;
    min-height: 28px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
}

.row-fluid [class*="sblock"]:first-child {
    padding-left: 0;
}

.row-fluid .sblock3 {
    width: 33.333%;
}

.row-fluid .sblock4 {
    width: 25%;
}

.row-fluid .sblock5 {
    width: 20%;
}

.row-fluid .sblock6 {
    width: 16.666%;
}

.row-fluid .sblock7 {
    width: 14.285%;
}

.row-fluid .sblock8 {
    width: 12.5%;
}

.row-fluid .sblock9 {
    width: 11.111%;
}

.row-fluid .sblock10 {
    width: 10%;
}

.row-fluid .sblock11 {
    width: 9.09%;
}

.row-fluid .sblock12 {
    width: 8.333%;
}

.myorders_block_info {
    margin-bottom: 30px;
}

.myorders_block_info .order_number {
    font-size: 120%;
    margin-bottom: 5px;
}

.myorders_block_info .order_status {
    font-size: 120%;
    margin-bottom: 5px;
}

.myorders_total {
    font-size: 120%;
}

.myorders_total .name {
    font-weight: bold;
}

.myorderinfo .userinfo {
    margin-top: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 5px;
}

.myorderinfo .userbillinfo {
    padding-right: 10px;
}

.myorderinfo .product_head {
    margin-bottom: 5px;
}

.myorderinfo .order_number {
    font-size: 140%;
}

.myorderinfo .order_items {
    margin-bottom: 20px;
}

.myorderinfo .jshop_subtotal {
    margin-bottom: 20px;
}

.myorderinfo .shipping_block_info {
    margin-bottom: 15px;
}

.myorderinfo .payment_block_info {
    margin-bottom: 15px;
}

.myorderinfo .order_comment {
    margin-bottom: 15px;
}

.myorderinfo .history {
    margin-bottom: 15px;
}

img.jshop_img_thumb {
    padding: 1px;
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    cursor: pointer;
}

.jshop label {
    margin: 0px;
    display: inline-block;
    margin-right: 5px;
}

.jshop input[type="radio"], .jshop input[type="checkbox"] {
    margin: 0px;
}

div.jshop_prod_description {
    padding: 20px 25px 20px 25px;
}

div.jshop_prod_description img {
    max-width: 100%;
}

div.jshop_prod_attributes {
    padding: 0;
    margin: 0;
    padding-bottom: 10px;
}

div.jshop_prod_attributes select {
    width: 140px;
}

div.jshop_prod_attributes .attributes_title {
    padding-top: 5px;
}

td.jshop_img_description {
    vertical-align: top;
    text-align: left;
    padding-left: 10px;
}

.jshop_subtotal .value {
    text-align: right;
    white-space: nowrap;
    width: 12%;
}

.jshop_subtotal .name {
    padding-right: 10px;
    text-align: right;
    width: 88%;
}

.jshop .total {
    font-weight: bold;
}

.related_header {
    margin-top: 20px;
    border-bottom: 1px solid #999;
    font-weight: bold;
    margin-bottom: 20px;
}

.td_1 {
    text-align: left;
    font-weight: bold;
}

.td_2 {
    text-align: right;
    font-weight: bold;
}

.jshop_pagination {
    text-align: center;
}

div.jshop_register {
    width: 80%;
    text-align: left;
    padding: 10px;
    padding-left: 0px;
}

#comjshop_register div.jshop_register:first-child {
    padding-top: 0px;
}

div.last_register_block {
    padding-bottom: 0px;
}

.jshop_register .name {
}

.register_block .jshop_register .name {
}

.address_block .jshop_register .name {
}

.editaccount_block .jshop_register .name {
}

.small_header {
    padding-bottom: 5px;
    margin: 0px;
    display: block;
    font-size: 15px;
    font-weight: bold;
}

span.jshop_error {
    color: red;
    font-weight: bold;
    font-size: 14px;
    display: block;
}

span.text_pay_without_reg {
    display: block;
    padding-bottom: 10px;
}

a.policy {
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
}

#active_step {
    font-weight: bold;
    padding: 0;
    margin: 0;
    vertical-align: middle;
}

p.jshop_cart_attribute {
    padding-left: 10px;
    font-weight: bold;
    font-style: italic;
    font-size: 11px;
    margin-top: 1px;
    margin-bottom: 4px;
}

p.jshop_cart_extra_field {
    padding-left: 10px;
    font-weight: bold;
    font-style: italic;
    font-size: 11px;
    margin-top: 1px;
    margin-bottom: 4px;
}

.jshop_price {
    color: #950000;
}

span.attr {
    font-weight: bold;
    font-style: italic;
    font-size: 10px;
}

div.jshop_register .inputbox {
}

span.review {
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 10px;
    display: block;
}

.review_text_not_login {
    margin-top: 10px;
    font-style: italic;
}

textarea.jshop {
    border: 1px solid #b0b1b2;
}

tr.reviews td {
    padding-bottom: 15px;
}

td.reviews {
    padding-left: 45px;
}

#mxcpr {
    padding-top: 20px;
    text-align: right;
    display: block;
}

#mxcpr a {
    font-size: 9px;
}

.jshop_code_prod {
    color: #999;
    font-weight: normal;
    font-size: 12px;
}

.jshop .weightorder {
    text-align: right;
    margin-top: 10px;
}

.jshop .shippingfree {
    text-align: right;
    margin-top: 10px;
}

.jshop .price_prod_qty_list .qty_line {
    padding-left: 5px;
    padding-right: 5px;
}

.jshop .price_prod_qty_list .qty_price {
    padding-left: 5px;
    font-weight: bold;
}

.jshop .price_prod_qty_list .qty_price span.per_piece {
    font-weight: normal;
}

.jshop span.old_price {
    text-decoration: line-through;
    font-style: normal;
}

.jshop .list_product_demo {
    padding-top: 10px;
}

.jshop .list_product_demo .download {
    padding-left: 5px;
}

.jshop .not_available {
    color: red;
    margin-top: 10px;
}

.jshop_list_product .row-fluid {
}

.jshop_list_product .block_product {
    margin-bottom: 30px;
}

.jshop_list_product .jshop .old_price {
    text-decoration: line-through;
    text-align: center;
    color: #999;
    margin-bottom: 5px;
}

.jshop_list_product .jshop .price_extra_info {
    text-align: center;
    margin-bottom: 5px;
}

.jshop_list_product .jshop .base_price {
    text-align: center;
    margin-bottom: 5px;
}

.jshop_list_product .product td {
    vertical-align: top;
}

.jshop_list_product .product .image {
    text-align: center;
    margin-bottom: 5px;
}

.jshop_list_product .product .nameobj {
    text-align: center;
    font-size: 18px;
    margin-bottom: 5px;
}

.jshop_list_product .product .review_mark {
    width: 80px;
    margin-left: auto;
    margin-right: auto;
}

.jshop_list_product .product .description {
    padding-bottom: 5px;
    padding-top: 5px;
}

.jshop_list_product .product .buttons {
    text-align: center;
}

.jshop_list_product .product .buttons a {
    margin-top: 5px;
}

.jshop_list_product .product .jshop_price {
    font-size: 18px;
    text-align: center;
    margin-bottom: 5px;
}

.jshop_list_product .product div.count_commentar {
}

.jshop_list_product .product .taxinfo {
    font-size: 11px;
}

.jshop_list_product .product .plusshippinginfo, .jshop_list_product .product .plusshippinginfo a {
    font-size: 11px;
}

.jshop_list_product .list_related .jshop_related {
    margin-bottom: 15px;
}

.jshop_list_product .image_block {
    padding: 2px;
    display: inline-block;
}

.jshop_list_product .jshop .not_available {
    margin-top: 0px;
    margin-bottom: 5px;
    text-align: center;
}

.jshop_list_product .box_products_sorting {
    padding-right: 5px;
}

.jshop_list_product .box_products_sorting img {
    cursor: pointer;
}

.jshop_list_product .margin_filter {
    height: 8px;
}

.jshop_list_product .box_manufacrurer {
    padding-right: 5px;
    white-space: nowrap;
}

.jshop_list_product .box_category {
    padding-right: 5px;
    white-space: nowrap;
}

.jshop_list_product .filter_price {
    padding-right: 5px;
    white-space: nowrap;
}

.jshop_list_product .box_price_from {
    padding-right: 3px;
}

.jshop_list_product .clear_filter {
    font-size: 10px;
    padding-left: 5px;
}

.jshop .product_label {
    position: absolute;
    margin-left: -5px;
    margin-top: -5px;
}

.jshop .product_label .label_name {
    font-weight: bold;
    color: #950000;
}

.productfull .prod_price {
}

.productfull .old_price {
    color: #999;
    margin-bottom: 5px;
}

.productfull #block_price {
    font-size: 18px;
    color: #950000;
}

.productfull .taxinfo {
    font-size: 11px;
}

.productfull .plusshippinginfo {
    font-size: 11px;
}

.productfull .plusshippinginfo a {
    font-size: 11px;
}

.productfull .prod_buttons {
    margin-top: 5px;
}

.productfull div.prod_url {
    text-align: right !important;
}

.productfull .productweight {
    margin-top: 5px;
}

.productfull .extra_fields {
    margin-top: 5px;
}

.productfull .prod_qty {
    display: inline-block;
}

.productfull .prod_qty_input {
    padding-left: 5px;
    display: inline-block;
}

.productfull .buttons {
    padding-left: 10px;
    display: inline-block;
}

.productfull .qty_in_stock {
    margin-bottom: 10px;
}

.jshop_subtotal .plusshippinginfo, .jshop_subtotal .plusshippinginfo a {
    font-size: 11px;
}

.jshop_subtotal .free_discount {
    font-size: 11px;
}

.jshop_list_manufacturer .manufacturer td {
    vertical-align: top;
}

.jshop_list_manufacturer .manufacturer .image {
    padding-right: 5px;
}

.shipping_weight_to_price {
    margin-left: 24px;
    margin-top: 5px;
    border: 1px solid #000;
}

.shipping_weight_to_price .weight {
}

.shipping_weight_to_price .price {
    padding-left: 5px;
}

span.prod_attr_img {
    padding-left: 5px;
}

span.prod_attr_img img {
    width: 20px;
    height: 20px;
}

.radio_attr_label img {
    width: 20px;
    height: 20px;
}

/*review*/
.review_header {
    margin-top: 20px;
    font-weight: bold;
    border-bottom: 1px solid #999;
}

.review_item {
    border-bottom: 1px dotted #999999;
    padding: 10px;
    padding-left: 0px;
}

.review_user {
    font-weight: bold;
}

.review_time {

}

.review_text {
    padding-top: 2px;
    padding-bottom: 2px;
}

.review_mark {
    color: #333333;
    height: 18px;
}

#jshop_review_write .inputbox {
    width: 180px;
}

.stars_no_active {
    height: 16px;
    background-image: url(../images/star.gif);
    background-repeat: repeat-x;
    background-position: 0px 0px;
}

.stars_active {
    height: 16px;
    background-image: url(../images/star.gif);
    background-repeat: repeat-x;
    background-position: 0px -16px;
}

.jshop .downlod_order_invoice {
    float: right;
}

.jshop .order_payment_params {
    padding-top: 3px;
    font-size: 11px;
}

.vendordetailinfo .name {
    width: 130px;
}

.requiredtext {
    padding-bottom: 10px;
    color: #A00;
    font-size: 11px;
}

.jshop .input_type_radio {
    margin-right: 10px;
    white-space: nowrap;
    display: inline-block;
}

.jshop_profile_data {
    margin-bottom: 10px;
}

.jshop_profile_data .name {
    font-weight: bold;
}

.jshop_profile_data span {
    font-weight: bold;
}

.jshop_profile_data span.subinfo {
    font-size: 10px;
}

.jshop_profile_data .jshop_user_group_info {
    font-size: 10px;
}

.jshop .groups_list .title {
    width: 150px;
}

/* module categories*/
.jshop_menu_level_0, .jshop_menu_level_0_a {
    margin-top: 3px;
    margin-bottom: 3px;
}

.jshop_menu_level_1, .jshop_menu_level_1_a {
    margin-top: 3px;
    margin-bottom: 3px;
}

.jshop_menu_level_2, .jshop_menu_level_2_a {
    padding-left: 20px;
    margin-top: 3px;
    margin-bottom: 3px;
}

.jshop_menu_level_0_a a, .jshop_menu_level_1_a a, .jshop_menu_level_2_a a {
    font-weight: bold !important;
}

/**/

.label_products .block_item {
    margin-bottom: 10px;
}

.top_rating .block_item {
    margin-bottom: 10px;
}

.bestseller_products .block_item {
    margin-bottom: 10px;
}

.latest_products .block_item {
    margin-bottom: 10px;
}

.random_products .block_item {
    margin-bottom: 10px;
}

.jshop_filters .filter_price {
    padding-right: 5px;
}

.jshop_filters .clear_filter {
    display: block;
    font-size: 10px;
}

.jshop_button_print {
    width: 30px;
    float: right;
    text-align: right;
}

.extra_fields .extra_fields_group {
    font-weight: bold;
    padding-top: 3px;
}

.extra_fields div {
}

.filter_characteristic .characteristic_name {
    padding-top: 5px;
}

.filter_characteristic .characteristic_group {
    font-weight: bold;
    padding-top: 5px;
}

.jshop td.attributes_title {
    width: 100px;
}

.jshop span.attributes_description {
    font-style: italic;
    display: block;
}

.jshop span.freeattribut_description {
    font-style: italic;
    display: block;
}

.jshop span.extra_fields_description {
    font-style: italic;
}

.jshop .prod_attr_img {
    vertical-align: top;
}

.jshop .cart .product_name {
    text-align: left;
}

.cart th.product_name {
    padding-left: 5px;
}

.jshop .prod_qty_input input {
    width: 50px;
    margin-bottom: 0px;
}

.productfull .image_middle {
    width: 100%;
    text-align: center;
}

.productfull .image_middle img {
    max-width: 210px;
}

.productfull .manufacturer_name {
    padding-bottom: 10px;
}

.productfull .prod_free_attribs {
    padding-bottom: 10px;
}

.productfull .price_prod_qty_list {
    margin-bottom: 10px;
}

.productfull .button_back {
    padding-top: 10px;
}

.jshop_img_description #list_product_image_thumb {
    display: none;
}

.productfull .text_zoom {
    padding-bottom: 5px;
    padding-top: 3px;
}

.productfull .text_zoom img {
    float: left;
    padding-right: 5px;
}

.productfull a.lightbox:hover {
    color: #000 !important;
}

.fielderror {
    background-color: #FDC055 !important;
}

.jshop_categ {
    margin-bottom: 20px;
}

.attributgr_name {
    font-weight: bold;
}

#table_shippings .shipping_form {
    display: none;
}

#table_shippings .shipping_form_active {
    display: block;
}

.jshop .order_shipping_params {
    font-size: 11px;
    padding-top: 3px;
}

/*cart table response*/
.mobile-cart {
    display: none;
}

#all, #contentarea, #contentarea2, #all #header {
    width: auto !important;
}

.cart {
    border-collapse: collapse;
    border: 1px solid #ccc;
}

.cart th {
    text-align: center;
    background-color: #f5f5f5;
    padding: 1px;
    color: #000;
    border: 1px solid #ccc;
}

.cart td {
    text-align: center;
    border: 1px solid #ccc;
    padding: 7px 5px;
    vertical-align: top;
}

.cart th table {
    border-collapse: collapse;
}

.cart .odd td {
    background-color: #fff;
    color: #000;
}

.cart .even td {
    background-color: #fdfdfd;
    color: #000;
}

.cart .taxinfo {
    display: block;
    font-size: 11px;
}

.cart .jshop_code_prod {
    font-size: 10px;
}

.cart .manufacturer {
    padding: 5px 0px 6px 10px;
    font-size: 11px;
    font-weight: bold;
    font-style: italic;
}

.cart .list_extra_field {
    padding-top: 3px;
}

.cart .cart_reload {
    cursor: pointer;
}

.cart .cart_reload a.btn {
    display: none;
}

.cart .remove_to_cart .btn-primary {
    display: none;
}

.cart .remove .btn-danger {
    display: none;
}

.wishlish_buttons {
    margin-top: 20px;
}

.cart_buttons {
    margin-top: 10px;
}

.cart .quantity .inputbox {
    width: 50px;
    margin-bottom: 0px;
}

.cartdescr {
    margin-bottom: 15px;
}

.cart_block_discount {
    margin-top: 35px;
}

.cart_block_discount .inputbox {
    margin-bottom: 0px;
}

.cart_block_discount .name {
    float: left;
    min-width: 100px;
    padding-top: 5px;
}

#checkout a img {
    margin-bottom: 5px;
}

.login_block .form-horizontal .control-label {
    width: 100px;
    text-align: left;
    float: left;
}

.login_block .form-horizontal .controls {
    margin-left: 100px;
}

.login_block .rowpasword, .login_block .rowremember, .login_block .rowbutton, .login_block .rowlostpassword {
    margin-bottom: 8px !important;
}

.logintext {
    margin-bottom: 10px;
}

.block_sorting_count_to_page .icon-arrow {
    width: auto;
    height: auto;
}

.block_sorting_count_to_page .icon-arrow img {
    margin-bottom: 8px;
    margin-left: 3px;
}

.form-horizontal .form_sort_count .control-label {
    text-align: left;
    width: 85px;
    float: left;
}

.form-horizontal .form_sort_count .controls {
    margin-left: 88px;
    margin-right: 15px;
}

.form-horizontal .form_sort_count .controls .inputbox {
    width: 140px;
}

.form-horizontal .form_sort_count .controls .input {
    width: 90px;
}

.form-horizontal .filter_price label {
    display: none;
}

.address_block .form-horizontal .box_button .controls {
    margin-left: 0px;
}

.form-horizontal .other_delivery_adress .controls {
    padding-top: 5px;
}

.checkout_payment_block #table_payments {
    border-collapse: collapse;
    margin-bottom: 15px;
}

.checkout_payment_block #table_payments .name {
    padding: 5px 0px;
}

.checkout_payment_block #table_payments .jshop_payment_method {
    padding-left: 20px;
}

.checkout_shipping_block #table_shippings {
    border-collapse: collapse;
    margin-bottom: 15px;
}

.checkout_shipping_block #table_shippings .name {
    padding: 5px 0px;
}

.checkout_pfinish_block .checkoutinfo {
    margin: 20px 0px;
}

.pfinish_comment_block {
    width: 100%;
    max-width: 325px;
    margin: 0px auto;
}

.pfinish_comment_block .box_button {
    text-align: center;
    margin-top: 10px;
}

.pfinish_comment_block .name {
    text-align: center;
    margin-bottom: 3px;
}

.pfinish_comment_block #order_add_info {
    height: 70px;
    width: 100%;
    max-width: 320px;
}

.block_rating_hits {
    height: 22px;
}

.block_rating_hits table {
    float: right;
    width: auto;
    border: 0px;
}

.clearfix:before, .clearfix:after {
    content: "";
    display: table;
    line-height: 0;
}

.clearfix:after {
    clear: both;
}

.clearfix:before, .clearfix:after {
    content: "";
    display: table;
    line-height: 0;
}

@media (min-width: 768px) {
    .form-horizontal .block_sorting_count_to_page .control-label {
        width: 60px;
    }

    .form-horizontal .block_sorting_count_to_page .controls {
        margin-left: 65px;
    }

    .form-horizontal .block_sorting_count_to_page .controls .inputbox {
        width: 100px;
    }

    .form-horizontal .box_products_count_to_page .control-label {
        width: 50px;
    }

    .form-horizontal .box_products_count_to_page .controls {
        margin-left: 55px;
    }

    .form-horizontal .box_products_count_to_page .controls .inputbox {
        width: 60px;
    }

    .form-horizontal .block_sorting_count_to_page .control-group {
        float: left;
    }

    .form-horizontal .block_sorting_count_to_page:after {
        clear: both;
        content: "";
        display: table;
    }

    .form-horizontal .box_cat_man .control-group {
        float: left;
    }

    .form-horizontal .box_cat_man:after {
        clear: both;
        content: "";
        display: table;
    }

    .form-horizontal .filter_price .control-group {
        float: left;
    }

    .form-horizontal .filter_price:after {
        clear: both;
        content: "";
        display: table;
    }

    .form-horizontal .box_price_to .control-label {
        width: 30px;
    }

    .form-horizontal .box_price_to .controls {
        margin-left: 30px;
    }

    .form-horizontal .filters .box_button .controls {
        margin-left: 10px;
    }

    .form-horizontal .box_price_from .control-label {
        width: 30px;
    }

    .form-horizontal .box_price_from .controls {
        margin-left: 40px;
    }

    .form-horizontal .box_category .control-label {
        width: 63px;
    }

    .form-horizontal .box_category .controls {
        margin-left: 65px;
    }
}

@media (min-width: 980px) {
    .form-horizontal .box_price_from .control-label {
        width: 63px;
    }

    .form-horizontal .box_price_from .controls {
        margin-left: 65px;
    }
}

@media (min-width: 768px) and (max-width: 979px) {
    .login_block .form-horizontal .controls .inputbox {
        width: 140px;
    }

    .form-horizontal .form_sort_count .controls .input {
        width: 70px;
    }
}

@media (max-width: 767px) {

    .row-fluid [class*="sblock"] {
        padding-left: 0px;
    }

    .row-fluid .sblock2 {
        width: 100%;
    }

    .row-fluid .sblock3 {
        width: 100%;
    }

    .row-fluid .sblock4 {
        width: 100%;
    }

    .row-fluid .sblock5 {
        width: 100%;
    }

    .row-fluid .sblock6 {
        width: 100%;
    }

    .row-fluid .sblock7 {
        width: 100%;
    }

    .row-fluid .sblock8 {
        width: 100%;
    }

    .row-fluid .sblock9 {
        width: 100%;
    }

    .row-fluid .sblock10 {
        width: 100%;
    }

    .row-fluid .sblock11 {
        width: 100%;
    }

    .row-fluid .sblock12 {
        width: 100%;
    }

    .mobile-cart {
        display: inline-block;
        font-weight: bold;
        width: 40%;
    }

    #jshop_menu_order tr {
        display: block;
        width: 100%;
    }

    #jshop_menu_order tr td {
        display: inline-table;
        width: 100%;
        line-height: 26px;
    }

    .jshop.cart, .jshop.cart tbody {
        display: block;
        border: 0px;
    }

    .jshop.cart tr {
        display: block;
        width: 100%;
        border-left: 1px solid #ccc;
        border-right: 1px solid #ccc;
        border-top: 1px solid #ccc;
        background-size: 100% 100%;
        color: black;
        margin-bottom: 20px;
    }

    .jshop.cart tr:first-child {
        border: 1px solid #ccc;
        margin-bottom: 10px;
        display: none;
    }

    .jshop.cart tr th {
        display: inline-table;
        width: 100%;
        line-height: 26px;
        border: none;
        border-bottom: 1px solid #565656;
    }

    .jshop.cart tr td {
        display: flex;
        border: none;
        border-bottom: 1px solid #ccc;
        padding: 5px 10px;
        text-align: left;
    }

    .cart .odd td, .cart .even td {
        background-color: #fff;
    }

    .cart .product_name a {
        display: block;
    }

    .jshop_img_description_center .mobile-cart {
        display: none;
    }

    .login_block .form-horizontal .controls {
        margin-left: 160px;
    }

    .pagelogin .register_block .logintext, .pagelogin .register_block .block_button_register {
        margin-left: 160px;
    }

    .jshop_list_product .block_product {
        border: 1px solid #ccc;
        padding: 5px;
        border-radius: 4px;
    }

    .cart_block_discount .name {
        float: none;
    }

    .cart_block_discount input {
        display: block;
        margin-top: 10px;
    }
}

@media (max-width: 480px) {
    .form-horizontal .form_sort_count .controls .inputbox {
        width: 115px;
    }

    .form-horizontal .form_sort_count .controls {
        margin-right: 0px;
    }

    .form-horizontal .form_sort_count .controls .input {
        width: 70px;
    }

    .block_rating_hits table {
        float: left;
    }

    .productfull .prod_qty {
        display: block;
    }

    .productfull .prod_qty_input {
        padding-left: 0px;
        margin-top: 10px;
        display: block;
    }

    .productfull .buttons {
        padding-left: 0px;
        display: block;
    }

    .productfull .buttons input {
        display: block;
        margin-top: 10px;
    }

    .form-horizontal .other_delivery_adress .control-label {
        float: none;
    }

    .jshop_payment_method td, .jshop_payment_method tr {
        display: block;
    }

    .jshop .downlod_order_invoice {
        float: none;
        padding-bottom: 10px;
    }

    .form-horizontal .form_sort_count .control-label {
        float: left;
        padding-top: 5px;
    }

    .login_block .form-horizontal .control-label {
        float: none;
    }

    .login_block .form-horizontal .controls {
        margin-left: 0px;
    }

    .pagelogin .register_block .logintext, .pagelogin .register_block .block_button_register {
        margin-left: 0px;
    }
}

.div_h1 {
    font-size: 28px;
    font-weight: bold;
    color: #676767;
    padding: 25px 0;
    text-transform: uppercase;
    display: none;
}

.jshop_list_category .jshop_categ {
    background-color: #04A3DE;
    width: 49%;
    height: 250px;
}

.jshop_list_category .jshop_categ + .jshop_categ {
    margin-left: 2%;
}

.jshop_categ_0.jshop_categ {
    background-image: url(../images/hig/fog1.png);
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: 160% 50%;
}

.jshop_categ_1.jshop_categ {
    background: #0580C6;
    background-image: url(../images/hig/fog2.png);
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: 160% 50%;
}

.jshop_categ_2.jshop_categ {
    background: #0160C1;
    background-image: url(../images/hig/fog3.png);
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: 160% 50%;
}

.jshop_categ_3.jshop_categ {
    background-image: url(../images/hig/fog4.png);
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: 160% 50%;
}

.jshop_categ_4.jshop_categ {
    background-image: url(../images/hig/fog5.png);
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: 160% 50%;
}

.jshop_categ_5.jshop_categ {
    background: #0580C6;
    background-image: url(../images/hig/fog6.png);
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: 160% 50%;
}

.sblock2_inner {
    float: left;
}

.jshop_categ .image {
    width: 40%;
}

.jshop_categ .products {
    width: 59%;
}

.category_name {
    font-size: 22px;
    text-transform: uppercase;
    margin-right: 1px;
    border-bottom: 1px solid #0293C8;
    padding: 15px 25px;
    margin-bottom: 15px;
}

.category_name a {
    color: white;
}

.jshop_categ_1 .category_name {
    border-bottom: 1px solid #00639B;
}

.jshop_categ_2 .category_name {
    border-bottom: 1px solid #004F9F;
}

.jshop_categ_2 .category_name {
    border-bottom: 1px solid #00639B;
}

.subCatLink {
    color: white;
    display: inline-block;
    margin: 5px 0 5px 35px;
    font-size: 14px;
}

.subCatLink:before {
    content: url(../images/hig/tip.png);
    margin-right: 5px;
    margin-left: 10px;
    display: inline-block;
    vertical-align: top;
    position: relative;
    opacity: 1;
    -webkit-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    transition-duration: 0.3s;
    left: 0;
    top: -1px;
}

.subCatLink:after {
    content: url(../images/hig/tip.png);
    margin-right: 5px;
    display: inline-block;
    vertical-align: top;
    position: relative;
    opacity: 0;
    -webkit-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    transition-duration: 0.3s;
    left: 0;
    top: 1px;
}

.subCatLink:hover {
    color: white;
}

.subCatLink:hover:before {
    left: 5px;
    opacity: 0;
}

.subCatLink:hover:after {
    left: 8px;
    opacity: 1;
}

.sblock2.content {
    height: 70%;
}

.joomshopping_category_block, .joomshopping_full_block {
    float: left;
}

.joomshopping_category .jshop_list_product, .productfull .joomshopping_full_product {
    width: 70%;
}

.joomshopping_category .joomshopping_menu, .productfull .joomshopping_menu {
    width: 28%;
    margin-right: 2%;
    position: relative;
}

.joomshopping_menu_name {
    padding: 15px 20px;
    color: white;
    font-size: 22px;
    font-weight: bold;
    border-bottom: 1px solid #0293C8;
    background-color: #0E84C8;
}

.joomshopping_menu_list {
    padding: 15px 20px;
    background-color: #0E84C8;
}

.joomshopping_menu_list .jshop_menu_level_1 + .jshop_menu_level_1 {
    margin-top: 15px;
}

.joomshopping_menu_list a {
    color: white;
    font-size: 14px;
}

.joomshopping_menu_list a:before {
    content: url(../images/hig/tip.png);
    margin-right: 10px;
    display: inline-block;
    vertical-align: top;
    position: relative;
    opacity: 1;
    -webkit-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    transition-duration: 0.3s;
    left: 0;
    top: 1px;
}

.joomshopping_menu_list a:after {
    content: url(../images/hig/tip.png);
    margin-right: 5px;
    display: inline-block;
    vertical-align: top;
    position: relative;
    opacity: 0;
    -webkit-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    transition-duration: 0.3s;
    left: 0;
    top: 1px;
}

.joomshopping_menu_list a:hover:before {
    left: 5px;
    opacity: 0;
}

.joomshopping_menu_list a:hover:after {
    left: 8px;
    opacity: 1;
}

.joomshopping_menu_back {
    border-right: 2px solid #0E84C8;
    border-top: 2px solid #0E84C8;
    border-bottom: 2px solid #0E84C8;
    display: inline-block;
    padding: 10px 20px 10px 10px;
    vertical-align: middle;
    -webkit-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    transition-duration: 0.3s;
    border-radius: 0 2px 2px 0;
    color: #676767;
}

.joomshopping_menu_back_tr {
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-right: 20px solid #0E84C8;
    border-bottom: 20px solid transparent;
    display: inline-block;
    vertical-align: middle;
    -webkit-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.joomshopping_menu_back_tr:before {
    content: '';
    border-top: 19px solid transparent;
    border-right: 20px solid white;
    border-bottom: 19px solid transparent;
    display: inline-block;
    vertical-align: middle;
    -webkit-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    transition-duration: 0.3s;
    position: relative;
    top: -19px;
    left: 2px;
}

.joomshopping_menu_link {
    display: inline-block;
    position: relative;
    top: 20px;
    left: 157px;
}

.joomshopping_menu_link:hover .joomshopping_menu_back {
    background-color: #0E84C8;
    border-right: 2px solid #0E84C8;
    border-top: 2px solid #0E84C8;
    border-bottom: 2px solid #0E84C8;
    color: white;
}

.joomshopping_menu_link:hover .joomshopping_menu_back_tr:before {
    border-right: 19px solid #0E84C8;
    /*border-top: 18px solid transparent;
    border-bottom: 18px solid transparent;
    top: -18px;*/
}

.list_product .product {
    border: 2px solid #EAEAEA;
}

.list_product .sblock4 + .sblock4 .product {
    margin-left: 5%;
}

.list_product .name {
    margin: 0 10px;
    border-top: 1px solid #EAEAEA;
    padding: 20px 0;
    font-size: 14px;
    line-height: 1.1;
    height: 90px;
    display: table;
}

.list_product .name > span {
    color: #6C6C6C;
    display: table-row;
    width: 100%
}

.list_product .name > span span {
    color: #6C6C6C;
    display: table-cell;
    width: 100%;
    vertical-align: middle;
}

.list_product .image {
    height: 185px;
    display: table;
    width: 100%;
    -webkit-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    transition-duration: 0.3s;
    position: relative;
}

.image {
    opacity: 1;
}

.list_product .image_block {
    padding: 10px 0;
    display: table-row;
    height: 100%;
}

.list_product .image_block span {
    padding: 10px 0;
    display: table-cell;
    height: 100%;
    vertical-align: middle;
}

.list_product .jshop_img {
    max-width: 150px;
    max-height: 145px;
}

.product_list_link:hover .image {
    opacity: 0.6;
}

.joomshopping_list_image {
    background-color: white;
    width: 100%;
    height: 100%;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    transition-duration: 0.5s;
    background-image: url(../images/hig/tip1.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.product_list_link:hover .joomshopping_list_image {
    opacity: 0.7;
}

.productfull_blocks {
    padding: 0 25px 25px 25px;
}

.productfull_images {
    width: 33%;
    border: 1px solid #C0E8F7;
    padding: 20px;
}

.productfull_short_description {
    width: 65%;
    border: 1px solid #C0E8F7;
    margin-left: 2%;
    padding: 20px;
}

.productfull_block {
    float: left;
    height: 350px;
}

.jshop_img_thumb {
    max-width: 70px;
}

.joomshopping_full_object .name {
    color: #0E84C8;
    font-weight: bold;
    font-size: 22px;
    background-color: transparent;
    background-image: url("/images/other/line.png");
    width: auto;
    text-align: center;
    background-position: center center;
    background-repeat: no-repeat;
    margin-top: 25px;
    z-index: 0;
}

.joomshopping_full_product {
    color: #676767;
    line-height: 1.2;
    font-size: 14px;
}

.productfull_block .mod_header_fixed_form {
    border-radius: 2px;
    font-size: 15px;
    color: #3F3F3F;
    padding: 7px 15px;
    margin: 30px 0 0 340px;
}

/*  object  */
.list_product_object .sblock2 {
    float: left;
    width: 49.5%;
}

.list_product_object .product .nameobj {
    text-align: left;
    color: #676767;
    font-weight: bold;
    font-size: 18px;
    padding: 20px;
}

.object_image {
    display: block;
    height: 140px;
    background-repeat: no-repeat;
    float: left;
    background-size: cover;
    background-position: 50% 50%;
}

.list_product_object .sblock2 + .sblock2 {
    margin-left: 1%;
}

.list_product_object .info {
    padding: 20px;
}

.list_product_object .image {
    display: inline-block;
    vertical-align: middle;
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50% 50%;
}

.list_product_object .desc {
    display: inline-block;
    vertical-align: middle;
    line-height: 1.3;
    padding-left: 20px;
    width: 80%;
    margin-top: 5px;
}

.list_product_object .product {
    border: 2px solid #C0E8F7;
    -webkit-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.list_product_object .product:hover {
    border: 2px solid #0171CF;
}

.manufacture_block {
    float: left;
}

.manufacture_block.image {
    width: 25%;
    text-align: center;
}

.manufacture_block.info {
    width: 75%;
}

.manufacture_block .jshop_img {
    max-width: 250px;
    max-height: 100px;
}

.jshop_list_manufacturer .jshop_categ {
    padding: 20px 0 20px 0;
    overflow: hidden;
    position: relative;
    margin-bottom: 20px;
    border: 2px solid #C0E8F7;
    -webkit-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.jshop_list_manufacturer .jshop_categ:hover {
    border: 2px solid #0171CF;
}

.manufacturer_name {
    color: #0171CF;
    font-weight: bold;
    font-size: 18px;
    -webkit-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    transition-duration: 0.3s;
    padding-bottom: 15px;
}

.manufacturer_short_description {
    line-height: 1.3;
    font-size: 15px;
    color: #676767;
}

.manufacturer_description {
    line-height: 1.3;
    font-size: 15px;
    color: #676767;
    margin-top: 10px;
    margin-bottom: 20px;
}

.jshop_list_manufacturer .manufacturer_description {
    display: none;
    margin-bottom: 0px;
}

.manufacture_more {
    cursor: pointer;
    padding: 10px 25px;
    border: 2px solid #0171CF;
    color: #676767;
    font-weight: 16px;
    display: inline-block;
    margin-top: 15px;
    -webkit-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.manufacture_more:hover {
    background-color: #0171CF;
    color: white;
}

.manufacture_object {
    display: inline-block;
    padding: 10px 25px;
    border: 2px solid #0171CF;
    color: #676767;
    font-weight: 16px;
    margin-top: 15px;
    margin-left: 15px;
    -webkit-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    transition-duration: 0.3s;
    opacity: 0;
    visibility: visible;
}

.manufacture_object:hover {
    background-color: #0171CF;
    color: white;
}

.object-show {
    opacity: 1;
    visibility: visible;
}

.joomshopping_full_object {
    width: 100%;
}

.extra_fields_name {
    font-weight: bold;
}

.extra_fields_name svg {
    max-width: 20px;
    max-height: 20px;
    vertical-align: middle;
    margin-right: 10px;
}

.joomshopping_full_object .productfull_images, .joomshopping_full_object .productfull_short_description {
    border: none;
}

.joomshopping_full_object .jshop_prod_description {
    padding: 20px 0 15px 0;
}

.joomshopping_full_object .productfull_block, .joomshopping_full_object .productfull_blocks {
    height: auto;
    padding: 0;
}

.joomshopping_full_object .extra_fields {
    margin-bottom: 25px;
}

.joomshopping_full_object .image_middle {
    display: none;
}

.joomshopping_full_object #list_product_image_thumb {
    display: block;
}

.joomshopping_full_object #list_product_image_thumb img {
    height: 150px;
    max-width: 100%;
}

.joomshopping_full_object .productfull_images {
    width: 100%;
}

.category_description {
    font-size: 14px;
    line-height: 1.3;
}

.category_description p, .category_description ul {
    padding-bottom: 15px;
}

.category_description ul {
    list-style-type: disc;
    list-style-position: inside;
}

.category_description ol {
    list-style-type: decimal;
    list-style-position: inside;
}

.list_product_object .desc p {
    padding-bottom: 5px;
}

.list_category .jshop_img {
    max-height: 170px;
    max-width: 90%;
}

.breadcrumb a, .breadcrumb span {
    font-size: 12px;
}

.joomshopping_category .joomshopping_category_block_wide {
    width: 100%;
}

.joomshopping_category_block_wide .sblock4:nth-child(odd) .product {
    background-color: #04A3DE;
}

.joomshopping_category_block_wide .sblock4:nth-child(even) .product {
    background-color: #0580C6;
}

.joomshopping_category_block_wide .name > span span {
    color: white;
}

.joomshopping_category_block_wide .joomshopping_list_image {
    background-color: transparent;
    background-image: url(../images/hig/tip2.jpg);
}

.joomshopping_category_block_wide .product_list_link:hover .joomshopping_list_image {
    opacity: 0.9;
}

.category_short_description {
    color: white;
    padding-left: 40px;
    line-height: 1.6;
}

.mod_jshopping_related_gr {
    margin-left: -20px;
}

.mod_jshopping_related_gr .related_product_wrap {
    width: 20%;
    padding-left: 20px;
    float: left;
    /*new*/
    margin-bottom: 20px;
}

.mod_jshopping_related_gr .related_product {
    display: inline-block;
    text-align: center;
    padding: 10px;
    border: 1px solid #EAEAEA;
    /*new*/
    width: 100%;
}

.mod_jshopping_related_gr .img {
    border-bottom: 1px solid #EAEAEA;
    /*padding: 20px 0;*/
    position: relative;
    /*new*/
    padding: 15px 0 10px;
    min-height: 230px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.mod_jshopping_related_gr .name {
    /*padding: 20px 0;*/
    font-size: 18px;
    color: #6C6C6C;
    /*new*/
    padding: 20px 0 10px;
    min-height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.mod_jshopping_related_gr a:hover .joomshopping_list_image {
    opacity: 0.7;
}

.mod_jshopping_related_gr img {
    width: 80%;
}

.mod_jshopping_related_gr_name {
    font-size: 28px;
    font-weight: bold;
    color: #676767;
    padding: 25px 20px;
    text-transform: uppercase;
}

.placeholder-filled-point {
    fill: #068bcc;
}

.screwdriver-and-wrench-crossed {
    fill: #068bcc;
}