@media all and (max-width: 299px ) {
    .ltl-logo {
        display: block;
    }

    .big-logo {
        display: none;
    }
}

@media all and (min-width: 300px) and (max-width: 599px ) {
    .ltl-logo {
        display: block;
    }

    .big-logo {
        display: none;
    }
}

@media all and (min-width: 600px) and (max-width: 799px ) {
    .ltl-logo {
        display: block;
    }

    .big-logo {
        display: none;
    }
}

@media all and (min-width: 800px) and (max-width: 1199px) {
    .ltl-logo {
        display: block;
    }

    .big-logo {
        display: none;
    }
}

@media all and (min-width: 1200px) and (max-width: 1919px ) {
}

@media all and (min-width: 1920px) {
    big-logo img {
        left: 0px;
    }
}