/*Mobile*/
@media all and (max-width: 375px) {
    .ltl-logo img {
        height: 130px;
        padding: 10px;
        z-index: 310;
    }

    .mod_header_contacts_gr_logo {
        font-size: 60%;
    }

    .header_form {
        display: none;
    }

    #header {
        padding-bottom: 12px;
    }

    .modal.in .modal-dialog {
        width: 96vw;
    }

    .float-block {
        width: 100vw;
    }

    .mod_main_category0 {
        width: 100% !important;
    }

    .header_menu {
        margin-top: 40px;
        margin-bottom: -10px;
    }

    .header_menu .moduletable > ul > li {
        display: block;
    }

    .nav > li > a {
        border: none;
    }

    .header_menu .nav-child {
        font-size: 15px;
        text-align: center;
    }

    .mod_main_category2 {
        width: 50%;
        height: 200px;
    }

    .mod_main_category2 .mod_main_category_name span {
        font-size: 14px;
    }

    .mod_main_category2 .mod_main_category_img {
        height: 145px;
    }

    .line {
        display: none;
    }

    .djslider-default ul.djslider-in > li > img {
        width: 100%;
        height: 100% !important;
    }

    .advantage {
        flex-direction: column;
    }

    .advantage > .row {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .advant {
        width: 45%;
        margin: 0 1%;
        display: inline-flex;
        height: 200px;
        flex-direction: column;
    }

    #footer {
        padding-top: 0px;
        height: 30px;
    }

    .button_doc {
        top: -15px;
        right: 95px;
    }

    .wrap_contacts_page_block {
        margin-top: 35px;
        display: flex;
        flex-direction: column;
    }

    .mod_contacts_page_block {
        width: 100%;
    }

    .mod_contacts_page_section_block.section {
        width: 85vw;
    }

    .mod_contacts_page_section.info {
        width: 95%;
        margin-left: 0;
    }

    .mod_contacts_page_section_fio {
        width: 40%;
    }

    .mod_contacts_page_section_info {
        width: 60%;
    }

    .list_product_object .sblock2 {
        width: 100%;
    }

    .pagination-prev, .pagination-next {
        display: block !important;
    }

    .pagination-prev {
        margin-bottom: 20px !important;
    }

    .pagination-next {
        margin-top: 20px !important;
    }

    .pagination {
        width: 100%;
    }

    .pagination ul {
        display: inline-block;
    }

    .jshop_prod_description > p > img {
        width: 100%;
    }

    .breadcrumb {
        width: 85vw;
    }

    .proektsys .wrap .row {
        display: flex;
        flex-direction: row;
    }

    .proektsys .wrap .row > .item {
        width: 50%;
        text-align: center;
    }

    .wrapbot .row-left {
        background: none;
    }

    .proektsys .wrapbot .row .item {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 15px;
    }

    .proektsys .wrapbot .row .item p {
        height: auto;
        padding: 0;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 5px;
        width: 100%;
    }

    .wrapbot .row {
        width: 100%;
        margin-left: 2%;
    }

    .pdone .item {
        margin-bottom: 15px;
    }

    .pdone .nameprod {
        font-size: 130%;
        padding: 5%;
    }

    .pdone .descprod {
        font-size: 100%;
        padding: 10px;
    }

    .headprod {
        text-align: center;
    }

    .to .row .item {
        margin-top: 10px;
    }

    .arrow {
        display: none;
    }

    .mhk {
        flex-direction: column;
    }

    .wmhk {
        width: 100%;
    }

    .blog_introtext {
        line-height: 1;
        font-size: 13px;
        overflow: hidden;
        height: 60%;
    }

    .blog .items-row .column-1 {
        display: flex;
        flex-direction: column;
    }

    .blog .items-row .column-1 .blog_intro_image {
        width: 100%;
    }

    .blog .items-row .column-1 .blog_intro_desc {
        width: 100%;
        border-top: none;
        border-left: 2px solid #C0E8F7;
        height: 250px;
        overflow: hidden;
    }

    .blog .items-row .column-1:hover .blog_intro_desc {
        border-left: 2px solid #0171CF;
    }

    .page-header .div_h2 {
        font-size: 37px;
    }

    .sert .span6 {
        width: 100%;
    }

    .sert .span6 .column-1, .sert .span6 .column-2 {
        display: flex;
        flex-direction: column-reverse;
    }

    .sert .span6 .column-1 .sert_intro_image,
    .sert .span6 .column-2 .sert_intro_image {
        width: 100%;
    }

    .sert .span6 .column-1 .item-image {
        width: 100%;
    }

    .sert_intro .div_h2 {
        font-size: 25px;
    }

    .sert_intro .sert_introtext {
        display: none;
    }

    .sert_intro_desc {
        padding: 0;
        width: 100%;
    }

    .manufacture_block_inner .image {
        display: none;
    }

    .jshop_list_manufacturer .jshop_categ {
        padding: 20px !important;
    }

    .manufacture_object {
        margin-left: 0px;
    }

    .jshop_categ_0.jshop_categ, .jshop_categ_1.jshop_categ, .jshop_categ_2.jshop_categ, .jshop_categ_3.jshop_categ, .jshop_categ_4.jshop_categ, .jshop_categ_5.jshop_categ {
        width: 100%;
    }

    .subCatLink::before {
        content: '';
        margin-right: 0;
        margin-left: 0;
    }

    .subCatLink::after {
        content: '';
    }

    .sblock2_inner > .jshop_img {
        max-width: 100px;
        max-height: 100px;
    }

    .jshop_categ .image {
        text-align: center;
    }

    .list_product .sblock4 + .sblock4 .product {
        margin-left: 0;
    }

    .joomshopping_category .jshop_list_product, .productfull .joomshopping_full_product {
        height: auto;
        width: 100%;
    }

    .productfull_images {
        width: 100%;
        height: 200px;
    }

    .productfull_short_description {
        width: 100%;
        margin-left: 0;
        height: auto;
    }

    .productfull_short_description .name {
        background-color: transparent;
        border-radius: 0;
        color: #0171cf;
        font-size: 15px;
        text-align: center;
    }

    .mod_jshopping_related_gr {
        margin-left: 0;
    }

    .mod_jshopping_related_gr .related_product_wrap {
        width: 49%;
    }

    .mod_jshopping_related_gr .related_product_wrap .img {
        min-height: auto;
    }

    .mod_jshopping_related_gr .related_product_wrap .name {
        background-color: transparent;
        color: #0171cf;
        font-size: 13px;
    }
}

@media all and (min-width: 376px) and (max-width: 613px ) {
    .productfull_block {
        width: 100%;
    }

    .ltl-logo img {
        height: 130px;
        padding: 10px;
        z-index: 310;
    }

    .mod_header_contacts_gr_logo {
        font-size: 60%;
    }

    .header_form {
        padding: 5px;
        border-radius: 30px;
        width: 49%;
        position: absolute;
        left: 32%;
        top: 40px;
        z-index: 350;
    }

    #header {
        padding-bottom: 12px;
    }

    .modal.in .modal-dialog {
        width: 96vw;
    }

    .float-block {
        width: 100vw;
    }

    .mod_main_category0 {
        width: 100% !important;
    }

    .header_menu {
        margin-top: 40px;
        margin-bottom: -10px;
    }

    .header_menu .moduletable > ul > li {
        display: block;
    }

    .nav > li > a {
        border: none;
    }

    .header_menu .nav-child {
        font-size: 15px;
        text-align: center;
    }

    .mod_main_category2 {
        width: 50%;
        height: 200px;
    }

    .mod_main_category2 .mod_main_category_name span {
        font-size: 14px;
    }

    .mod_main_category2 .mod_main_category_img {
        height: 145px;
    }

    .line {
        display: none;
    }

    .djslider-default ul.djslider-in > li > img {
        width: 100%;
        height: 100% !important;
    }

    .advantage {
        flex-direction: column;
    }

    .advantage > .row {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .advant {
        width: 45%;
        margin: 0 1%;
        display: inline-flex;
        height: 200px;
        flex-direction: column;
    }

    #footer {
        padding-top: 0px;
        height: 30px;
    }

    .mod_header_fixed_form {
        text-align: center;
        font-size: 18px;
    }

    .header_menu .moduletable > ul {
        width: 350px;
    }

    .button_doc {
        top: -15px;
        right: 95px;
    }

    .wrap_contacts_page_block {
        margin-top: 35px;
        display: flex;
        flex-direction: column;
    }

    .mod_contacts_page_block {
        width: 100%;
    }

    .mod_contacts_page_section_block.section {
        width: 85vw;
    }

    .mod_contacts_page_section.info {
        width: 95%;
        margin-left: 0;
    }

    .mod_contacts_page_section_fio {
        width: 40%;
    }

    .mod_contacts_page_section_info {
        width: 60%;
    }

    .list_product_object .sblock2 {
        width: 100%;
    }

    .pagination-prev {
        margin-bottom: 20px !important;
    }

    .pagination-next {
        margin-top: 20px !important;
    }

    .pagination {
        width: 100%;
    }

    .pagination ul {
        display: inline-block;
    }

    .pagination-prev, .pagination-next {
        display: block !important;
    }

    .jshop_prod_description > p > img {
        width: 100%;
    }

    .breadcrumb {
        width: 85vw;
    }

    .proektsys .wrap .row {
        display: flex;
        flex-direction: row;
    }

    .proektsys .wrap .row > .item {
        width: 50%;
        text-align: center;
    }

    .wrapbot .row-left {
        background: none;
    }

    .proektsys .wrapbot .row .item {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 15px;
    }

    .proektsys .wrapbot .row .item p {
        height: auto;
        padding: 0;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 5px;
        width: 100%;
    }

    .wrapbot .row {
        width: 100%;
        margin-left: 2%;
    }

    .pdone .item {
        margin-bottom: 15px;
    }

    .pdone .nameprod {
        font-size: 130%;
        padding: 5%;
    }

    .pdone .descprod {
        font-size: 100%;
        padding: 10px;
    }

    .to .row .item {
        margin-top: 10px;
    }

    .arrow {
        display: none;
    }

    .mhk {
        flex-direction: column;
    }

    .wmhk {
        width: 100%;
    }

    .blog .items-row .column-1 {
        display: flex;
        flex-direction: column;
    }

    .blog_intro_image {
        width: 100%;
    }

    .blog_intro_desc {
        width: 100%;
        border-top: none;
        border-left: 2px solid #C0E8F7;
    }

    .blog .item:hover .blog_intro_desc {
        border-top: none;
        border-left: 2px solid #0171CF;
    }

    .sert .span6 {
        width: 100%;
    }

    .sert .span6 .column-1, .sert .span6 .column-2 {
        display: flex;
        flex-direction: column-reverse;
    }

    .sert .span6 .column-1 .sert_intro_image,
    .sert .span6 .column-2 .sert_intro_image {
        width: 100%;
    }

    .sert .span6 .column-1 .item-image {
        width: 100%;
    }

    .sert_intro .div_h2 {
        font-size: 25px;
    }

    .sert_intro .sert_introtext {
        display: none;
    }

    .sert_intro_desc {
        padding: 0;
        width: 100%;
    }

    .manufacture_block_inner .image {
        display: none;
    }

    .jshop_list_manufacturer .jshop_categ {
        padding: 20px !important;
    }

    .manufacture_object {
        margin-left: 0px;
    }

    .jshop_categ_0.jshop_categ, .jshop_categ_1.jshop_categ, .jshop_categ_2.jshop_categ, .jshop_categ_3.jshop_categ, .jshop_categ_4.jshop_categ, .jshop_categ_5.jshop_categ {
        width: 100%;
    }

    .subCatLink::before {
        content: '';
        margin-right: 0;
        margin-left: 0;
    }

    .subCatLink::after {
        content: '';
    }

    .sblock2_inner > .jshop_img {
        max-width: 100px;
        max-height: 100px;
    }

    .jshop_categ .image {
        text-align: center;
    }

    .list_product .sblock4 + .sblock4 .product {
        margin-left: 0;
    }

    .joomshopping_category .jshop_list_product, .productfull .joomshopping_full_product {
        height: auto;
        width: 100%;
    }

    .productfull_images {
        width: 100%;
        height: 200px;
    }

    .productfull_short_description {
        width: 100%;
        margin-left: 0;
        height: auto;
    }

    .productfull_short_description .name {
        background-color: transparent;
        border-radius: 0;
        color: #0171cf;
        font-size: 15px;
        text-align: center;
    }

    .mod_jshopping_related_gr {
        margin-left: 0;
    }

    .mod_jshopping_related_gr .related_product_wrap {
        width: 49%;
    }

    .mod_jshopping_related_gr .related_product_wrap .img {
        min-height: auto;
    }

    .mod_jshopping_related_gr .related_product_wrap .name {
        background-color: transparent;
        color: #0171cf;
        font-size: 13px;
    }
}

@media all and (min-width: 481px ) and (max-width: 613px ) {
    .mod_main_category0 {
        width: 50% !important;
    }

    .mod_main_category2 {
        width: 33%;
    }

    .header_contacts {
        text-align: center;
    }

    .mod_header_contacts_gr_logo {
        font-size: 80%;
    }

    .line {
        display: block;
    }

    .ltl-logo img {
        height: 120px;
        padding: 10px;
    }

    .header_form {
        left: 28%;
    }

    .header_menu .moduletable > ul {
        width: 520px;
    }

    .mod_header_fixed_form {
        font-size: 15px;
    }

    .advantage {
        flex-direction: row;
    }

    .advantage > .row {
        flex-direction: column;
        width: 200px;
    }

    .advant {
        width: 100%;
        padding: 30px;
    }

    .advant img {
        width: 140px;
    }

    .to .row .item {
        margin-top: 10px;
    }

    .to {
        display: flex;
        flex-direction: row;
    }

    .to .row {
        width: 50%;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        margin-left: 10px;
    }

    .to .row .item .ltlname {
        min-height: 31px;
        font-size: 13px;
    }

    .jshop_list_category .jshop_categ + .jshop_categ {
        margin-left: 0;
    }
}

/*transition Mobile to Tablet*/
@media all and (max-width: 613px) {
    .header_contacts {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        width: 100%;
        z-index: 500;
    }
}

@media all and (min-width: 614px) and (max-width: 766px ) {
    .header_menu {
        margin-top: 20px;
        margin-bottom: -10px;
    }

    .header_menu .moduletable > ul > li {
        display: block;
    }

    .nav > li > a {
        border: none;
    }

    .ltl-logo img {
        height: 155px;
        padding: 10px;
        z-index: 310;
    }

    .header_form {
        padding: 10px;
        border-radius: 30px;
        top: 5px;
        z-index: 350;
    }

    .mod_header_contacts_gr_logo {
        font-size: 85%;
    }

    #header {
        padding-bottom: 12px;
    }

    .modal.in .modal-dialog {
        width: 96vw;
    }

    .float-block {
        width: 100vw;
    }

    .mod_main_category0 {
        width: 50% !important;
    }

    .mod_main_category2 {
        width: 33%;
        height: 200px;
    }

    .mod_main_category2 .mod_main_category_name span {
        font-size: 14px;
    }

    .mod_main_category2 .mod_main_category_img {
        height: 145px;
    }

    .line {
        display: inline-block;
    }

    .djslider-default ul.djslider-in > li > img {
        width: 100%;
        height: 100% !important;
    }

    .advantage {
        justify-content: space-around;
    }

    .advantage > .row {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 200px;
    }

    .advant {
        width: 100%;
        margin: 0 1%;
        display: block;
        height: 200px;
        flex-direction: column;
        text-align: center;
    }

    .advant img {
        width: auto;
    }

    #footer {
        padding-top: 0px;
        height: 30px;
    }

    .mod_header_fixed_form {
        text-align: center;
        font-size: 18px;
    }

    .header_menu .moduletable > ul {
        width: 650px;
    }

    .button_doc {
        top: -55px;
        right: 36%;
    }

    .mod_contacts_page {
        margin-top: 40px;
    }

    .jshop_prod_description > p > img {
        width: 100%;
    }

    .breadcrumb {
        width: 85vw;
    }

    .proektsys .wrap .row {
        display: flex;
        flex-direction: row;
    }

    .proektsys .wrap .row > .item {
        width: 50%;
        text-align: center;
    }

    .wrapbot .row-left {
        background: none;
    }

    .proektsys .wrapbot .row .item {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 15px;
    }

    .proektsys .wrapbot .row .item p {
        height: auto;
        padding: 0;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 5px;
        width: 100%;
    }

    .wrapbot .row {
        width: 100%;
        margin-left: 2%;
    }

    .pdone .row {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .pdone .item {
        width: 48%;
        margin: 1% 0.5%;
    }

    .pdone .item:last-child {
        width: 97%;
    }

    .headprod {
        text-align: center;
        height: 80%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .pdone .item:last-child .headprod {
        display: block;
        height: auto;
    }

    .headprod p {
        font-size: 130%;
    }

    .pdone .nameprod {
        padding: 20px 0;
    }

    .pdone .descprod {
        font-size: 100%;
        padding: 10px 0;
    }

    .to .row .item {
        margin-top: 10px;
    }

    .to {
        display: flex;
        flex-direction: row;
    }

    .to .row {
        width: 50%;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        margin-left: 10px;
    }

    .to .row .item .ltlname {
        min-height: 31px;
        font-size: 13px;
    }

    .manufacture_block .jshop_img {
        max-width: 100%;
    }

    .jshop_categ_0.jshop_categ, .jshop_categ_1.jshop_categ, .jshop_categ_2.jshop_categ, .jshop_categ_3.jshop_categ, .jshop_categ_4.jshop_categ, .jshop_categ_5.jshop_categ {
        width: 100%;
    }

    .subCatLink::before {
        content: '';
        margin-right: 0;
        margin-left: 0;
    }

    .subCatLink::after {
        content: '';
    }

    .sblock2_inner > .jshop_img {
        max-width: 100px;
        max-height: 100px;
    }

    .jshop_categ .image {
        text-align: center;
    }

    .jshop_list_category .jshop_categ + .jshop_categ {
        margin-left: 0;
    }

    .jshop_list_category .jshop_categ + .jshop_categ {
        margin-left: 0;
    }

    .list_product .sblock4 + .sblock4 .product {
        margin-left: 0;
    }

    .joomshopping_category .jshop_list_product, .productfull .joomshopping_full_product {
        height: auto;
        width: 100%;
    }

    .productfull_images {
        width: 100%;
        height: 200px;
    }

    .productfull_short_description {
        width: 100%;
        margin-left: 0;
        height: auto;
    }

    .productfull_short_description .name {
        background-color: transparent;
        border-radius: 0;
        color: #0171cf;
        font-size: 15px;
        text-align: center;
    }

    .mod_jshopping_related_gr {
        margin-left: 0;
    }

    .mod_jshopping_related_gr .related_product_wrap {
        width: 47%;
    }

    .mod_jshopping_related_gr .related_product_wrap .img {
        min-height: auto;
    }

    .mod_jshopping_related_gr .related_product_wrap .name {
        background-color: transparent;
        color: #0171cf;
        font-size: 13px;
    }
}

/*Tablet*/
@media all and (min-width: 767px) and (max-width: 1199px) {
    .ltl-logo img {
        height: 155px;
        padding: 10px;
        z-index: 310;
    }

    .header_form {
        padding: 10px;
        border-radius: 30px;
        top: 5px;
        z-index: 350;
    }

    .float-block {
        width: 100vw;
    }

    .mod_main_category0 {
        width: 32% !important;
    }

    .mod_main_category2 {
        width: 25%;
        height: 200px;
    }

    .mod_main_category2 .mod_main_category_name span {
        font-size: 14px;
    }

    .mod_main_category2 .mod_main_category_img {
        height: 145px;
    }

    .line {
        display: inline-block;
    }

    .djslider-default ul.djslider-in > li > img {
        width: 100%;
        height: 100% !important;
    }

    .advantage {
        justify-content: space-around;
    }

    .advantage > .row {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 200px;
    }

    .advant {
        width: 100%;
        margin: 0 1%;
        display: block;
        height: 200px;
        flex-direction: column;
        text-align: center;
    }

    .advant img {
        width: auto;
    }

    #footer {
        padding-top: 0px;
        height: 30px;
    }

    .mod_header_fixed_form {
        text-align: center;
        font-size: 18px;
    }

    .header_contacts {
        text-align: center;
    }

    .header_menu {
        width: 100%;
    }

    .nav > li > a {
        font-size: 14px;
    }

    .form_tail {
        display: none;
    }

    .button_doc {
        top: -55px;
        right: 36%;
    }

    .mod_contacts_page {
        margin-top: 40px;
    }

    .jshop_prod_description > p > img {
        width: 100%;
    }

    .proektsys .wrap .row {
        width: 33%;
        text-align: center;
    }

    .proektsys .wrap{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .proektsys .wrapbot {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .proektsys .wrapbot .row-left {
        background-image: url(/images/other/proekting/bcg-right.png);
        background-position: 103%;
        height: 100%;
        background-repeat: no-repeat;
        background-size: contain;
        width: 60%;
    }

    .proektsys .wrapbot .row-right {
        width: 40%;
    }

    .proektsys .wrapbot .item {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }

    .proektsys .wrapbot .item p {
        width: auto;
        height: auto;
        padding: 0 0 0 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .proektsys .wrapbot .row-left p {
        width: 50%;
    }

    .pdone .row {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .pdone .item {
        width: 48%;
        margin: 1% 0.5%;
    }

    .pdone .item:last-child {
        width: 97%;
    }

    .headprod {
        text-align: center;
        height: 80%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .pdone .item:last-child .headprod {
        display: block;
        height: auto;
    }

    .headprod p {
        font-size: 130%;
    }

    .pdone .nameprod {
        padding: 20px 0;
    }

    .pdone .descprod {
        font-size: 100%;
        padding: 10px 0;
    }

    .to {
        display: flex;
        flex-direction: column;
    }

    .to .row {
        display: flex;
        flex-direction: row;
    }

    .to .row .item {
        height: 250px;
        margin-bottom: 10px;
        margin-right: 10px;
    }

    .to .row .item .name, .to .row .item .ltlname {
        font-size: 15px;
        padding: 5px;
    }

    .sblock2_inner image {
        display: none;
    }

    .jshop_categ_0.jshop_categ, .jshop_categ_1.jshop_categ, .jshop_categ_2.jshop_categ, .jshop_categ_3.jshop_categ, .jshop_categ_4.jshop_categ, .jshop_categ_5.jshop_categ {
        width: 100%;
    }

    .subCatLink::before {
        content: '';
        margin-right: 0;
        margin-left: 0;
    }

    .subCatLink::after {
        content: '';
    }

    .sblock2_inner > .jshop_img {
        max-width: 100px;
        max-height: 100px;
    }

    .jshop_categ .image {
        text-align: center;
    }

    .jshop_list_category .jshop_categ + .jshop_categ {
        margin-left: 0;
    }

    .jshop_list_category .jshop_categ + .jshop_categ {
        margin-left: 0;
    }

    .list_product .sblock4 + .sblock4 .product {
        margin-left: 0;
    }

    .joomshopping_category .jshop_list_product, .productfull .joomshopping_full_product {
        height: auto;
        width: 100%;
    }

    .productfull_images {
        width: 49%;
        height: 200px;
    }

    .productfull_short_description {
        width: 49%;
        margin-left: 0;
        height: auto;
    }

    .productfull_short_description .name {
        background-color: transparent;
        border-radius: 0;
        color: #0171cf;
        font-size: 15px;
        text-align: center;
    }

    .mod_jshopping_related_gr {
        margin-left: 0;
    }

    .mod_jshopping_related_gr .related_product_wrap {
        width: 33%;
    }

    .mod_jshopping_related_gr .related_product_wrap .img {
        min-height: auto;
    }

    .mod_jshopping_related_gr .related_product_wrap .name {
        background-color: transparent;
        color: #0171cf;
        font-size: 13px;
    }
}

@media all and (min-width: 767px) and (max-width: 978px) {
    .header_menu {
        width: 80%;
    }

    .nav > li > a {
        font-size: 18px;
        border-right: none;
    }
}

@media all and (min-width: 992px) and (max-width: 1199px) {
    .header_contacts {
        padding-left: 0px;
        text-align: left;
    }

    .slider_partners_last {
        display: none;
    }

    .header_menu {
        width: 90%;
    }

    .nav > li > a {
        font-size: 16px;
    }

    .strangecontainer {
        width: 953px;
    }

    .breadcrumb {
        margin-top: 30px;
    }

    .proektsys .wrapbot .row-left {
        background-position: 98%;
        margin-left: 1%;
    }

    .pdone .item {
        width: 31%;
        margin: 1% 1%;
    }

    .pdone .item:last-child {
        width: 31%;
        margin: 1% 1%;
    }

    .pdone .item:last-child .headprod {
        text-align: center;
        height: 80%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}

/*Desktop*/

@media all and (min-width: 1200px) and (max-width: 1419px ) {
    .big-logo img {
        left: -24%;
    }

    .header_contacts {
        font-size: 26px;
    }

    .advantage > .row {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .advant {
        width: 50%;
        text-align: center;
    }

    .advant img {
        width: auto;
    }

    .jshop_prod_description > p > img {
        width: 100%;
    }

    .breadcrumb {
        margin-left: 16%;
    }

    .proektsys .wrap, .proektsys .wrap .row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .proektsys .wrap .row {
        width: 33%;
        text-align: center;
    }

    .proektsys .wrap .row .item {
        width: 50%;
    }

    .proektsys .wrapbot {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .proektsys .wrapbot .row-left {
        background-image: url(/images/other/proekting/bcg-right.png);
        background-position: 95%;
        height: 100%;
        background-repeat: no-repeat;
        background-size: contain;
        width: 60%;
        margin-left: 1%;
    }

    .proektsys .wrapbot .row-right {
        width: 40%;
    }

    .proektsys .wrapbot .item {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }

    .proektsys .wrapbot .item p {
        width: auto;
        height: auto;
        padding: 0 0 0 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .proektsys .wrapbot .row-left p {
        width: 50%;
    }

    .pdone .row {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .pdone .item {
        width: 18%;
        margin: 1%;
    }

    .pdone .item .headprod {
        height: 80%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .to {
        display: flex;
        flex-direction: column;
    }

    .to .row {
        display: flex;
        flex-direction: row;
    }

    .to .row a {
        width: 19%;
    }

    .to .row .item {
        height: 250px;
        margin-bottom: 6%;
        margin-right: 6%;
    }

    .to2 .row {
        width: 1080px;
    }

    .to2 .row a {
        width: 24%;
    }

    .joomshopping_category .jshop_list_product, .productfull .joomshopping_full_product {
        height: auto;
        width: 100%;
    }

    .productfull_images {
        width: 49%;
        height: 200px;
    }

    .productfull_short_description {
        width: 49%;
        margin-left: 0;
        height: auto;
    }

    .productfull_short_description .name {
        background-color: transparent;
        border-radius: 0;
        color: #0171cf;
        font-size: 15px;
        text-align: center;
    }

    .mod_jshopping_related_gr {
        margin-left: 0;
    }

    .mod_jshopping_related_gr .related_product_wrap {
        width: 16%;
    }

    .mod_jshopping_related_gr .related_product_wrap .img {
        min-height: auto;
    }

    .mod_jshopping_related_gr .related_product_wrap .name {
        background-color: transparent;
        color: #0171cf;
        font-size: 13px;
    }
}

@media all and (min-width: 1230px) and (max-width: 1259px ) {
    .big-logo img {
        left: -22%;
    }

    .header_contacts {
        font-size: 26px;
    }
}

@media all and (min-width: 1260px) and (max-width: 1299px ) {
    .big-logo img {
        left: -20%;
    }

    .header_contacts {
        font-size: 26px;
    }
}

@media all and (min-width: 1300px) and (max-width: 1339px ) {
    .big-logo img {
        left: -18%;
    }

    .header_contacts {
        font-size: 26px;
    }
}

@media all and (min-width: 1340px) and (max-width: 1379px ) {
    .big-logo img {
        left: -16%;
    }

    .header_contacts {
        font-size: 26px;
    }
}

@media all and (min-width: 1380px) and (max-width: 1419px ) {
    .big-logo img {
        left: -14%;
    }

    .header_contacts {
        font-size: 26px;
    }

    .line {
        display: inline-block;
    }
}

/*Big Desktop*/

@media all and (min-width: 1420px) {
    .advantage > .row {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 400px;
    }

    .advant {
        width: 50%;
        text-align: center;
    }

    .advant img {
        width: auto;
    }

    .proektsys .wrap, .proektsys .wrap .row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .proektsys .wrap .row {
        width: 33%;
        text-align: center;
    }

    .proektsys .wrap .row .item {
        width: 50%;
    }

    .proektsys .wrapbot {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .proektsys .wrapbot .row-left {
        background-image: url(/images/other/proekting/bcg-right.png);
        background-position: 95%;
        height: 100%;
        background-repeat: no-repeat;
        background-size: contain;
        width: 60%;
        margin-left: 1%;
    }

    .proektsys .wrapbot .row-right {
        width: 40%;
    }

    .proektsys .wrapbot .item {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }

    .proektsys .wrapbot .item p {
        width: auto;
        height: auto;
        padding: 0 0 0 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .proektsys .wrapbot .row-left p {
        width: 50%;
    }

    .pdone .row {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-bottom: 20px;
    }

    .pdone .item {
        width: 18%;
        margin: 1%;
    }

    .pdone .item .headprod {
        height: 80%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .to {
        display: flex;
        flex-direction: column;
    }

    .to .row {
        display: flex;
        flex-direction: row;
    }

    .to .row a {
        width: 19%;
    }

    .to .row .item {
        height: 250px;
        margin-bottom: 6%;
        margin-right: 6%;
    }

    .to2 {
        align-items: center;
    }

    .to2 .row {
        width: 1080px;
    }

    .to2 .row a {
        width: 24%;
    }

    .breadcrumb {
        margin-left: 12%;
    }

    .joomshopping_category .jshop_list_product, .productfull .joomshopping_full_product {
        height: auto;
        width: 100%;
    }

    .productfull_images {
        width: 49%;
        height: 200px;
    }

    .productfull_short_description {
        width: 49%;
        margin-left: 0;
        height: auto;
    }

    .productfull_short_description .name {
        background-color: transparent;
        border-radius: 0;
        color: #0171cf;
        font-size: 15px;
        text-align: center;
    }

    .mod_jshopping_related_gr {
        margin-left: 0;
    }

    .mod_jshopping_related_gr .related_product_wrap {
        width: 24%;
    }

    .mod_jshopping_related_gr .related_product_wrap .img {
        min-height: auto;
    }

    .mod_jshopping_related_gr .related_product_wrap .name {
        background-color: transparent;
        color: #0171cf;
        font-size: 13px;
    }
}

@media all and (min-width: 1420px) and (max-width: 1469px ) {
    .big-logo img {
        left: -12%;
    }

    .header_contacts {
        font-size: 26px;
    }
}

@media all and (min-width: 1470px) and (max-width: 1519px ) {
    .big-logo img {
        left: -10%;
    }

    .header_contacts {
        font-size: 26px;
    }
}

@media all and (min-width: 1520px) and (max-width: 1569px ) {
    .big-logo img {
        left: -8%;
    }

    .header_contacts {
        font-size: 26px;
    }
}

@media all and (min-width: 1570px) and (max-width: 1619px ) {
    .big-logo img {
        left: -6%;
    }

    .header_contacts {
        font-size: 26px;
    }
}

@media all and (min-width: 1620px) and (max-width: 1669px ) {
    .big-logo img {
        left: -4%;
    }

    .header_contacts {
        font-size: 26px;
    }
}

@media all and (min-width: 1670px) and (max-width: 1749px ) {
    .big-logo img {
        left: -2%;
    }

    .header_contacts {
        font-size: 26px;
    }
}

@media all and (min-width: 1750px) {
    .big-logo img {
        left: 0px;
    }
}

@media all and (min-width: 1750px) and (max-width: 1789px ) {
    .header_contacts {
        font-size: 26px;
    }
}

@media all and (min-width: 1790px) and (max-width: 1829px ) {
    .header_contacts {
        font-size: 28px;
    }
}

@media all and (min-width: 1830px) and (max-width: 1859px ) {
    .header_contacts {
        font-size: 30px;
    }
}

@media all and (min-width: 1860px) and (max-width: 1889px ) {
    .header_contacts {
        font-size: 32px;
    }
}

/*Switch Logo*/
@media all and (max-width: 1199px) {
    .ltl-logo {
        display: block;
    }

    .big-logo {
        display: none;
    }
}